.Main_Img{
    margin-top: 50px;
    display: flex;
    height: 400px;
    width: 100%;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}